---
interface Props {
  isAccent?: boolean;
}

const { isAccent } = Astro.props;
const { pathname } = Astro.url;
const posts = await Astro.glob("../../content/announcements/*.md");


const newestPost = posts.reduce(
  (acc, curr) => {
    if (!acc) return curr;
    const date = curr.frontmatter.date;
    if (!date) throw new Error('Notification must have a date');
    return date > curr.frontmatter.date.date ? curr : acc;
  },
  null as (typeof posts)[0] | null
);
---
<a href="/announcements" class:list={["announcements_button_wrap", isAccent && "announcements_button_wrap--accent"]}>
  <div class="indicator invisible-indicator"/>
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-5 w-5"><path d="M6 8a6 6 0 0 1 12 0c0 7 3 9 3 9H3s3-2 3-9"></path><path d="M10.3 21a1.94 1.94 0 0 0 3.4 0"></path></svg>
</a>

<script is:inline define:vars={{newestPost, pathname}}>
  const lastSeenPost = localStorage.getItem('drizzle-last-seen-announcement');
  if ((!lastSeenPost || (newestPost && new Date(newestPost.frontmatter.date) > new Date(+lastSeenPost))) && !pathname.includes('/announcements')) {
    document.querySelector('.indicator').classList.remove('invisible-indicator')
  }
</script>

<style is:global>
  html.dark .announcements_button_wrap:hover {
    background-color: #1a1a1a;
    color: #c8c9ca;
    border-color: #c8c9ca;
  }

  html.dark .announcements_button_wrap {
      background-color: #111;
      border-color: #292929;
      color: #909090;
  }

  .announcements_button_wrap:hover {
    color: #000;
    border-color: #b8bfc8;
  }

  .announcements_button_wrap {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    border-radius: 8px;
    height: 36px;
    width: 36px;
    background-color: hsla(210, 7%, 95%, .27);
    border: 1px solid rgba(33, 39, 46, .12);
    color: #909090;
    transition: all 0.2s ease;
    position: relative;
  }

  .announcements_button__wrap_number {
    font-size: 14px;
    font-weight: 700;
  }

  html.dark .announcements_button_wrap--accent  {
    color: #e1e3e6;
  }

  .announcements_button_wrap--accent {
    color: #000;
  }

  .indicator {
      position: absolute;
      width: 8px;
      height: 8px;
      top: 6px;
      right: 8px;
      border-radius: 100%;
      background: #ef4444;
  }

  .invisible-indicator {
      display: none;
  }

  .announcements_button_wrap svg {
      width: 20px;
  }

  @media screen and (max-width: 768px) {
      .announcements_button_wrap {
          display: none;
      }
  }
</style>