<div class="aside-socials__wrap">
  <a class="aside-socials__item" href="https://github.com/shellscape/jsx-email" target="_blank" rel="nofollow noreferrer">
    <div class="aside-socials__item-icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 98 98"><path fill-rule="evenodd" clip-rule="evenodd" d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z" fill="currentColor"/></svg>
    </div>
    <div class="aside-socials__item-text">GitHub</div>
  </a>
  <a class="aside-socials__item" href="https://twitter.com/jsxemail" target="_blank" rel="nofollow noreferrer">
    <div class="aside-socials__item-icon">
      <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M22 4.00914C21.1294 4.62321 20.1656 5.09288 19.1455 5.40005C18.5979 4.77051 17.8703 4.32432 17.0609 4.1218C16.2516 3.91929 15.3995 3.97023 14.6201 4.26774C13.8406 4.56524 13.1713 5.09496 12.7027 5.78525C12.2341 6.47553 11.9888 7.29308 12 8.12732V9.03641C10.4024 9.07784 8.81934 8.72352 7.39183 8.005C5.96431 7.28649 4.73665 6.22608 3.81818 4.91823C3.81818 4.91823 0.181818 13.1001 8.36364 16.7364C6.49139 18.0073 4.26105 18.6445 2 18.5546C10.1818 23.1 20.1818 18.5546 20.1818 8.10005C20.181 7.84683 20.1566 7.59423 20.1091 7.34551C21.0369 6.4305 21.6917 5.27524 22 4.00914Z" fill="currentColor"></path>
      </svg>
    </div>
    <div class="aside-socials__item-text">Twitter</div>
  </a>
  <a class="aside-socials__item" href="https://discord.gg/FywZN57mTg" rel="nofollow noreferrer" target="_blank">
    <div class="aside-socials__item-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M19.27 5.33C17.94 4.71 16.5 4.26 15 4a.09.09 0 0 0-.07.03c-.18.33-.39.76-.53 1.09a16.09 16.09 0 0 0-4.8 0c-.14-.34-.35-.76-.54-1.09c-.01-.02-.04-.03-.07-.03c-1.5.26-2.93.71-4.27 1.33c-.01 0-.02.01-.03.02c-2.72 4.07-3.47 8.03-3.1 11.95c0 .02.01.04.03.05c1.8 1.32 3.53 2.12 5.24 2.65c.03.01.06 0 .07-.02c.4-.55.76-1.13 1.07-1.74c.02-.04 0-.08-.04-.09c-.57-.22-1.11-.48-1.64-.78c-.04-.02-.04-.08-.01-.11c.11-.08.22-.17.33-.25c.02-.02.05-.02.07-.01c3.44 1.57 7.15 1.57 10.55 0c.02-.01.05-.01.07.01c.11.09.22.17.33.26c.04.03.04.09-.01.11c-.52.31-1.07.56-1.64.78c-.04.01-.05.06-.04.09c.32.61.68 1.19 1.07 1.74c.03.01.06.02.09.01c1.72-.53 3.45-1.33 5.25-2.65c.02-.01.03-.03.03-.05c.44-4.53-.73-8.46-3.1-11.95c-.01-.01-.02-.02-.04-.02M8.52 14.91c-1.03 0-1.89-.95-1.89-2.12s.84-2.12 1.89-2.12c1.06 0 1.9.96 1.89 2.12c0 1.17-.84 2.12-1.89 2.12m6.97 0c-1.03 0-1.89-.95-1.89-2.12s.84-2.12 1.89-2.12c1.06 0 1.9.96 1.89 2.12c0 1.17-.83 2.12-1.89 2.12"/></svg>
    </div>
    <div class="aside-socials__item-text">Discord</div>
  </a>
</div>

<style>
  .aside-socials__wrap {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 24px 16px 16px 0;
    margin-top: 40px;
  }

  .aside-socials__item {
    align-items: center;
    display: flex;
    gap: 4px;
    cursor: pointer;
  }

  .aside-socials__item-icon {
    align-items: center;
    border-radius: 9px;
    color: #909090;
    display: flex;
    height: 32px;
    justify-content: center;
    width: 32px;
    fill: #b9b9b9;
    transition-duration: 0.15s;
    transition-property: color, background-color, border-color, fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .aside-socials__item-text {
    color: #909090;
    font-size: 14px;
    transition-duration: 0.15s;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  html.dark .aside-socials__item-icon,
  html.dark .aside-socials__item-text {
    color: #737373;
  }

  html.dark .aside-socials__item:hover .aside-socials__item-icon,
  html.dark .aside-socials__item:hover .aside-socials__item-text {
    color: #f9fafb;
  }

  .aside-socials__item:hover .aside-socials__item-text,
  .aside-socials__item:hover .aside-socials__item-icon {
    color: #111827;
  }
</style>
