<div class="aside-socials__wrap">
  <a class="aside-socials__item" href="https://driz.link/sponsor" target="_blank" rel="nofollow noreferrer">
    <div class="aside-socials__item-icon">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M19.612 5.41452C19.1722 4.96607 18.65 4.61034 18.0752 4.36763C17.5005 4.12492 16.8844 4 16.2623 4C15.6401 4 15.0241 4.12492 14.4493 4.36763C13.8746 4.61034 13.3524 4.96607 12.9126 5.41452L11.9998 6.34476L11.087 5.41452C10.1986 4.50912 8.99364 4.00047 7.73725 4.00047C6.48085 4.00047 5.27591 4.50912 4.38751 5.41452C3.4991 6.31992 3 7.5479 3 8.82833C3 10.1088 3.4991 11.3367 4.38751 12.2421L5.30029 13.1724L11.9998 20L18.6992 13.1724L19.612 12.2421C20.0521 11.7939 20.4011 11.2617 20.6393 10.676C20.8774 10.0902 21 9.46237 21 8.82833C21 8.19428 20.8774 7.56645 20.6393 6.9807C20.4011 6.39494 20.0521 5.86275 19.612 5.41452Z"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </div>
    <div class="aside-socials__item-text">Become a Sponsor</div>
  </a>
  <a class="aside-socials__item" href="https://mobile.twitter.com/DrizzleORM" target="_blank" rel="nofollow noreferrer">
    <div class="aside-socials__item-icon">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M22 4.00914C21.1294 4.62321 20.1656 5.09288 19.1455 5.40005C18.5979 4.77051 17.8703 4.32432 17.0609 4.1218C16.2516 3.91929 15.3995 3.97023 14.6201 4.26774C13.8406 4.56524 13.1713 5.09496 12.7027 5.78525C12.2341 6.47553 11.9888 7.29308 12 8.12732V9.03641C10.4024 9.07784 8.81934 8.72352 7.39183 8.005C5.96431 7.28649 4.73665 6.22608 3.81818 4.91823C3.81818 4.91823 0.181818 13.1001 8.36364 16.7364C6.49139 18.0073 4.26105 18.6445 2 18.5546C10.1818 23.1 20.1818 18.5546 20.1818 8.10005C20.181 7.84683 20.1566 7.59423 20.1091 7.34551C21.0369 6.4305 21.6917 5.27524 22 4.00914Z"
          fill="currentColor"></path>
      </svg>
    </div>
    <div class="aside-socials__item-text">Twitter</div>
  </a>
  <a class="aside-socials__item" href="https://discord.gg/yfjTbVXMW4" rel="nofollow noreferrer" target="_blank">
    <div class="aside-socials__item-icon">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        ><path
          fill="currentColor"
          d="M19.27 5.33C17.94 4.71 16.5 4.26 15 4a.09.09 0 0 0-.07.03c-.18.33-.39.76-.53 1.09a16.09 16.09 0 0 0-4.8 0c-.14-.34-.35-.76-.54-1.09c-.01-.02-.04-.03-.07-.03c-1.5.26-2.93.71-4.27 1.33c-.01 0-.02.01-.03.02c-2.72 4.07-3.47 8.03-3.1 11.95c0 .02.01.04.03.05c1.8 1.32 3.53 2.12 5.24 2.65c.03.01.06 0 .07-.02c.4-.55.76-1.13 1.07-1.74c.02-.04 0-.08-.04-.09c-.57-.22-1.11-.48-1.64-.78c-.04-.02-.04-.08-.01-.11c.11-.08.22-.17.33-.25c.02-.02.05-.02.07-.01c3.44 1.57 7.15 1.57 10.55 0c.02-.01.05-.01.07.01c.11.09.22.17.33.26c.04.03.04.09-.01.11c-.52.31-1.07.56-1.64.78c-.04.01-.05.06-.04.09c.32.61.68 1.19 1.07 1.74c.03.01.06.02.09.01c1.72-.53 3.45-1.33 5.25-2.65c.02-.01.03-.03.03-.05c.44-4.53-.73-8.46-3.1-11.95c-.01-.01-.02-.02-.04-.02M8.52 14.91c-1.03 0-1.89-.95-1.89-2.12s.84-2.12 1.89-2.12c1.06 0 1.9.96 1.89 2.12c0 1.17-.84 2.12-1.89 2.12m6.97 0c-1.03 0-1.89-.95-1.89-2.12s.84-2.12 1.89-2.12c1.06 0 1.9.96 1.89 2.12c0 1.17-.83 2.12-1.89 2.12"
        ></path></svg
      >
    </div>
    <div class="aside-socials__item-text">Discord</div>
  </a>
</div>

<style>
  .aside-socials__wrap {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 24px 16px 16px 0;
    margin-top: 40px;
  }

  .aside-socials__item {
    align-items: center;
    display: flex;
    gap: 4px;
    cursor: pointer;
  }

  .aside-socials__item-icon {
    align-items: center;
    border-radius: 9px;
    color: #909090;
    display: flex;
    height: 32px;
    justify-content: center;
    width: 32px;
    fill: #b9b9b9;
    transition-duration: 0.15s;
    transition-property: color, background-color, border-color, fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .aside-socials__item-text {
    color: #909090;
    font-size: 14px;
    transition-duration: 0.15s;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  html.dark .aside-socials__item-icon,
  html.dark .aside-socials__item-text {
    color: #737373;
  }

  html.dark .aside-socials__item:hover .aside-socials__item-icon,
  html.dark .aside-socials__item:hover .aside-socials__item-text {
    color: #f9fafb;
  }

  .aside-socials__item:hover .aside-socials__item-text,
  .aside-socials__item:hover .aside-socials__item-icon {
    color: #111827;
  }
</style>
