<div class="aside-posts__container">
  <a href="/benchmarks" class="aside-posts__wrap">
    <div class="aside-posts__image">
      <div class="aside-posts__image--learn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            fill-rule="evenodd"
            d="M8.732 5.771L5.67 9.914c-1.285 1.739-1.928 2.608-1.574 3.291l.018.034c.375.673 1.485.673 3.704.673c1.233 0 1.85 0 2.236.363l.02.02l3.872-4.57l-.02-.02c-.379-.371-.379-.963-.379-2.148v-.31c0-3.285 0-4.927-.923-5.21c-.923-.283-1.913 1.056-3.892 3.734"
            clip-rule="evenodd"></path>
          <path
            fill="currentColor"
            d="M10.453 16.443v.31c0 3.284 0 4.927.923 5.21c.923.283 1.913-1.056 3.893-3.734l3.062-4.143c1.284-1.739 1.927-2.608 1.573-3.291a1.353 1.353 0 0 0-.018-.034c-.375-.673-1.485-.673-3.704-.673c-1.233 0-1.85 0-2.236-.363l-3.872 4.57c.379.371.379.963.379 2.148"
            opacity=".5"></path>
        </svg>
      </div>
    </div>
    <div class="aside-posts__text">Benchmarks</div>
    <div class="aside-posts__arrow-right">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-arrow-right"
        ><line x1="5" y1="12" x2="19" y2="12"></line><polyline
          points="12 5 19 12 12 19"></polyline></svg
      >
    </div>
  </a>
  <a
    href="https://driz.link/extension"
    rel="nofollow noreferrer"
    class="aside-posts__wrap"
    target="_blank"
  >
    <div class="aside-posts__image">
      <div class="aside-posts__image--learn">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="m20.83 10.715l-.518 1.932c-.605 2.255-.907 3.383-1.592 4.114a4 4 0 0 1-2.01 1.161c-.097.023-.195.04-.295.052c-.915.113-2.032-.186-4.064-.73c-2.255-.605-3.383-.907-4.114-1.592a4 4 0 0 1-1.161-2.011c-.228-.976.074-2.103.679-4.358l.517-1.932l.244-.905c.455-1.666.761-2.583 1.348-3.21a4 4 0 0 1 2.01-1.16c.976-.228 2.104.074 4.36.679c2.254.604 3.382.906 4.113 1.59a4 4 0 0 1 1.161 2.012c.228.976-.075 2.103-.679 4.358m-9.778-.91a.75.75 0 0 1 .919-.53l4.83 1.295a.75.75 0 1 1-.389 1.448l-4.83-1.294a.75.75 0 0 1-.53-.918m-.776 2.898a.75.75 0 0 1 .918-.53l2.898.777a.75.75 0 1 1-.388 1.448l-2.898-.776a.75.75 0 0 1-.53-.919" clip-rule="evenodd"/><path fill="currentColor" d="M16.415 17.975a4 4 0 0 1-1.068 1.677c-.731.685-1.859.987-4.114 1.591s-3.383.907-4.358.679a4 4 0 0 1-2.011-1.161c-.685-.731-.988-1.859-1.592-4.114l-.517-1.932c-.605-2.255-.907-3.383-.68-4.358a4 4 0 0 1 1.162-2.011c.731-.685 1.859-.987 4.114-1.592c.426-.114.813-.218 1.165-.309l-.244.906l-.517 1.932c-.605 2.255-.907 3.382-.68 4.358a4 4 0 0 0 1.162 2.011c.731.685 1.859.987 4.114 1.592c2.032.544 3.149.843 4.064.73" opacity="0.5"/></svg>
      </div>
    </div>
    <div class="aside-posts__text">Extension</div>
    <div class="aside-posts__arrow-right">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-arrow-right"
        ><line x1="5" y1="12" x2="19" y2="12"></line><polyline
          points="12 5 19 12 12 19"></polyline></svg
      >
    </div>
  </a>
  <a href="/drizzle-studio/overview" class="aside-posts__wrap">
    <div class="aside-posts__image">
      <div class="aside-posts__image--learn">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            class="togglelib-icon-primary"
            d="M12 2C16.714 2 19.071 2 20.535 3.464C21.615 4.544 21.899 6.111 21.974 8.75L22 9.5H2.026V8.75C2.101 6.11 2.384 4.545 3.464 3.464C4.93 2 7.286 2 12 2Z"
          ></path>
          <path
            d="M13 6C13 6.26522 12.8946 6.51957 12.7071 6.70711C12.5196 6.89464 12.2652 7 12 7C11.7348 7 11.4804 6.89464 11.2929 6.70711C11.1054 6.51957 11 6.26522 11 6C11 5.73478 11.1054 5.48043 11.2929 5.29289C11.4804 5.10536 11.7348 5 12 5C12.2652 5 12.5196 5.10536 12.7071 5.29289C12.8946 5.48043 13 5.73478 13 6ZM10 6C10 6.26522 9.89464 6.51957 9.70711 6.70711C9.51957 6.89464 9.26522 7 9 7C8.73478 7 8.48043 6.89464 8.29289 6.70711C8.10536 6.51957 8 6.26522 8 6C8 5.73478 8.10536 5.48043 8.29289 5.29289C8.48043 5.10536 8.73478 5 9 5C9.26522 5 9.51957 5.10536 9.70711 5.29289C9.89464 5.48043 10 5.73478 10 6ZM7 6C7 6.26522 6.89464 6.51957 6.70711 6.70711C6.51957 6.89464 6.26522 7 6 7C5.73478 7 5.48043 6.89464 5.29289 6.70711C5.10536 6.51957 5 6.26522 5 6C5 5.73478 5.10536 5.48043 5.29289 5.29289C5.48043 5.10536 5.73478 5 6 5C6.26522 5 6.51957 5.10536 6.70711 5.29289C6.89464 5.48043 7 5.73478 7 6Z"
            class="togglelib-icon-tertiary"></path>
          <path
            class="togglelib-icon-secondary"
            d="M2 12C2 16.714 2 19.071 3.464 20.535C4.474 21.545 5.91 21.859 8.25 21.956L9 22V9.5H2.026L2.003 10.25C2 10.794 2 11.377 2 12Z"
          ></path>
          <path
            d="M22 12C22 16.714 22 19.071 20.535 20.535C19.072 22 16.714 22 12 22C11.181 22 9.684 22 9 21.992V9.5H22L21.997 10.25C22 10.794 22 11.377 22 12Z"
            class="togglelib-icon-tertiary"></path>
        </svg>
      </div>
    </div>
    <div class="aside-posts__text">Studio</div>
    <div class="aside-posts__arrow-right">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-arrow-right"
        ><line x1="5" y1="12" x2="19" y2="12"></line><polyline
          points="12 5 19 12 12 19"></polyline></svg
      >
    </div>
  </a>
  <a href="https://github.com/drizzle-team/drizzle-studio-npm" target="_blank" class="aside-posts__wrap">
    <div class="aside-posts__image">
      <div class="aside-posts__image--learn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M8.422 20.618C10.178 21.54 11.056 22 12 22V12L2.638 7.073a3.196 3.196 0 0 0-.04.067C2 8.154 2 9.417 2 11.942v.117c0 2.524 0 3.787.597 4.801c.598 1.015 1.674 1.58 3.825 2.709z"
          />
          <path
            fill="currentColor"
            d="m17.577 4.432l-2-1.05C13.822 2.461 12.944 2 12 2c-.945 0-1.822.46-3.578 1.382l-2 1.05C4.318 5.536 3.242 6.1 2.638 7.072L12 12l9.362-4.927c-.606-.973-1.68-1.537-3.785-2.641"
            opacity="0.7"
          />
          <path
            fill="currentColor"
            d="M21.403 7.14a3.153 3.153 0 0 0-.041-.067L12 12v10c.944 0 1.822-.46 3.578-1.382l2-1.05c2.151-1.129 3.227-1.693 3.825-2.708c.597-1.014.597-2.277.597-4.8v-.117c0-2.525 0-3.788-.597-4.802"
            opacity="0.5"
          />
          <path
            fill="currentColor"
            d="m6.323 4.484l.1-.052l1.493-.784l9.1 5.005l4.025-2.011c.137.155.257.32.362.498c.15.254.262.524.346.825L17.75 9.964V13a.75.75 0 0 1-1.5 0v-2.286l-3.5 1.75v9.44A3.062 3.062 0 0 1 12 22c-.248 0-.493-.032-.75-.096v-9.44l-8.998-4.5c.084-.3.196-.57.346-.824a3.15 3.15 0 0 1 .362-.498l9.04 4.52l3.387-1.693z"
          />
        </svg>
      </div>
    </div>
    <div class="aside-posts__text">Studio Package</div>
    <div class="aside-posts__arrow-right">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-arrow-right"
      ><line x1="5" y1="12" x2="19" y2="12"></line><polyline
        points="12 5 19 12 12 19"></polyline></svg
      >
    </div>
  </a>
  <a href="https://gateway.drizzle.team" target="_blank" class="aside-posts__wrap">
    <div class="aside-posts__image">
      <div class="aside-posts__image--learn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M8.422 20.618C10.178 21.54 11.056 22 12 22V12L2.638 7.073a3.196 3.196 0 0 0-.04.067C2 8.154 2 9.417 2 11.942v.117c0 2.524 0 3.787.597 4.801c.598 1.015 1.674 1.58 3.825 2.709z"
          />
          <path
            fill="currentColor"
            d="m17.577 4.432l-2-1.05C13.822 2.461 12.944 2 12 2c-.945 0-1.822.46-3.578 1.382l-2 1.05C4.318 5.536 3.242 6.1 2.638 7.072L12 12l9.362-4.927c-.606-.973-1.68-1.537-3.785-2.641"
            opacity="0.7"
          />
          <path
            fill="currentColor"
            d="M21.403 7.14a3.153 3.153 0 0 0-.041-.067L12 12v10c.944 0 1.822-.46 3.578-1.382l2-1.05c2.151-1.129 3.227-1.693 3.825-2.708c.597-1.014.597-2.277.597-4.8v-.117c0-2.525 0-3.788-.597-4.802"
            opacity="0.5"
          />
          <path
            fill="currentColor"
            d="m6.323 4.484l.1-.052l1.493-.784l9.1 5.005l4.025-2.011c.137.155.257.32.362.498c.15.254.262.524.346.825L17.75 9.964V13a.75.75 0 0 1-1.5 0v-2.286l-3.5 1.75v9.44A3.062 3.062 0 0 1 12 22c-.248 0-.493-.032-.75-.096v-9.44l-8.998-4.5c.084-.3.196-.57.346-.824a3.15 3.15 0 0 1 .362-.498l9.04 4.52l3.387-1.693z"
          />
        </svg>
      </div>
    </div>
    <div class="aside-posts__text">Gateway</div>
    <div class="aside-posts__arrow-right">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-arrow-right"
      ><line x1="5" y1="12" x2="19" y2="12"></line><polyline
        points="12 5 19 12 12 19"></polyline></svg
      >
    </div>
  </a>
  <a href="https://drizzle.run" class="aside-posts__wrap">
    <div class="aside-posts__image">
      <div class="aside-posts__image--learn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 24 24"
        >
          <path
            class="play-path"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5" d="M6.906 4.537A.6.6 0 0 0 6 5.053v13.894a.6.6 0 0 0 .906.516l11.723-6.947a.6.6 0 0 0 0-1.032L6.906 4.537Z"
          ></path>
        </svg>
      </div>
    </div>
    <div class="aside-posts__text">Drizzle Run</div>
    <div class="aside-posts__arrow-right">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-arrow-right"
      ><line x1="5" y1="12" x2="19" y2="12"></line><polyline
        points="12 5 19 12 12 19"></polyline></svg
      >
    </div>
  </a>
  <div class="goods__wrap">
    <div class="goods__text">Our goodies!</div>
  </div>
</div>
<style>
  .aside-posts__container {
    display: flex;
    flex-direction: column;
    gap: 1px;
    margin-bottom: 4px;
    width: 100%;
    min-height: 40px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
  }

  .aside-posts__container:hover .aside-posts__wrap {
      margin-top: 0;
  }

  .aside-posts__container:hover .aside-posts__wrap .aside-posts__image {
      margin-left: 12px;
      transform: scale(1);
      opacity: 1;
  }

  .aside-posts__container:hover .aside-posts__wrap .aside-posts__text {
      opacity: 1;
  }

  .aside-posts__container:hover .goods__wrap {
      opacity: 0;
      z-index: -1;
  }

  html.dark .goods__wrap {
      background-color: #1c1c1c;
  }

  html.dark .aside-posts__wrap {
    background-color: #1c1c1c;
  }

  html.dark .aside-posts__wrap:hover {
    background-color: #282828;
  }

  html.dark .aside-posts__wrap:hover .aside-posts__text {
    color: #fff;
  }

  html.dark .aside-posts__wrap:hover .aside-posts__image svg {
    color: #fff;
  }

  .goods__wrap {
      z-index: 1;
      top: 0;
      height: 40px;
      width: 100%;
      background-color: #f6f6f7;
      display: flex;
      align-items: center;
      transition: opacity 0.15s;
      position: absolute;
      pointer-events: none;
      padding-left: 111px;
      opacity: 1;
  }

  .goods__text {
      font-size: 14px;
      color: #909090;
      font-weight: 400;
  }

  .aside-posts__wrap {
    height: 40px;
    width: 100%;
    background-color: #f6f6f7;
    display: flex;
    align-items: center;
    transition: background-color 0.2s ease-in-out, margin-top 0.15s;
  }

  .aside-posts__wrap:nth-child(2) {
      margin-top: -41px;
  }

  .aside-posts__wrap:nth-child(3) {
      margin-top: -41px;
  }

  .aside-posts__wrap:nth-child(4) {
      margin-top: -41px;
  }

  .aside-posts__wrap:nth-child(5) {
      margin-top: -41px;
  }

  .aside-posts__wrap:nth-child(6) {
      margin-top: -41px;
  }

  .aside-posts__wrap:nth-child(2) .aside-posts__image  {
      margin-left: 32px;
  }

  .aside-posts__wrap:nth-child(3) .aside-posts__image {
      margin-left: 56px;
  }

  .aside-posts__wrap:nth-child(4) .aside-posts__image {
      margin-left: 80px;
  }

  .aside-posts__wrap:nth-child(5) .aside-posts__image {
      margin-left: 80px;
      opacity: 0;
  }

    .aside-posts__wrap:nth-child(6) .aside-posts__image {
      margin-left: 80px;
      opacity: 0;
  }


  .aside-posts__wrap:hover {
    background-color: #eff0f3;
  }

  .aside-posts__wrap:hover .aside-posts__arrow-right {
    opacity: 1;
    transform: translateX(0);
  }

  .aside-posts__wrap:hover .aside-posts__text {
    color: #000;
  }

  .aside-posts__wrap:hover .aside-posts__image svg {
    color: #000;
  }

  .aside-posts__image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1 / 1;
    width: fit-content;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 24px;
    height: 24px;
    margin: 12px 8px 12px 12px;
    position: relative;
      z-index: 6;
      transition: margin-left 0.15s, transform 0.15s, opacity 0.15s;
      transform: scale(0.8);
  }

  .aside-posts__image--learn {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  html.dark .aside-posts__image svg {
    color: #4d4d4d;
  }

  .aside-posts__image svg {
    height: 100%;
    width: 100%;
    color: #8e8e8e;
    transition: color 0.2s ease-in-out;
  }

  .aside-posts__text {
    font-size: 14px;
    color: #909090;
    font-weight: 400;
    transition: color 0.2s ease-in-out, opacity 0.15s;
      opacity: 0;
  }

  .aside-posts__arrow-right {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
    margin-right: 8px;
    opacity: 0;
    transform: translateX(-4px);
    transition: all 0.2s ease-in-out;
  }

  html.dark .aside-posts__arrow-right svg {
    color: #fff;
  }

  .aside-posts__arrow-right svg {
    height: 16px;
    width: 16px;
    color: #000;
  }

  .play-path {
      fill: #c4c4c4;
  }

  html.dark .play-path {
      fill: #333333;
  }
</style>

<style is:global>
  .togglelib-icon-primary,
  .togglelib-icon-secondary,
  .togglelib-icon-tertiary {
    transition-property: color, background-color, border-color, fill;
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  html[class~="dark"] .togglelib-icon-primary {
    fill: #424242;
  }

  html[class~="dark"] .togglelib-icon-secondary {
    fill: #565656;
  }

  html[class~="dark"] .togglelib-icon-tertiary {
    fill: #737373;
  }

  html[class~="dark"] .aside-posts__wrap:hover .togglelib-icon-primary {
    fill: #858586;
  }

  html[class~="dark"] .aside-posts__wrap:hover .togglelib-icon-secondary {
    fill: #b3b4b5;
  }

  html[class~="dark"] .aside-posts__wrap:hover .togglelib-icon-tertiary {
    fill: #f9fafb;
  }

  .aside-posts__wrap:hover .togglelib-icon-primary {
    fill: #000;
  }

  .aside-posts__wrap:hover .togglelib-icon-secondary {
    fill: #818283;
  }

  .aside-posts__wrap:hover .togglelib-icon-tertiary {
    fill: #cccccc;
  }

  .togglelib-icon-primary {
    fill: #737373;
  }

  .togglelib-icon-secondary {
    fill: #9d9d9d;
  }

  .togglelib-icon-tertiary {
    fill: #b9b9b9;
  }
</style>
