---
import CrossOutIcon from "@/assets/icons/CrossOutIcon.astro";
import Meaningful from "@/assets/icons/Meaningful.astro";
---

<div class="benchmark__header">
  <div class="benchmark__header_title">
    <span class="del-word"
      >Biased<span class="cross-out"><CrossOutIcon /></span><span
        class="meaningful"><Meaningful /></span
      ></span
    > benchmarks
  </div>
  <div class="benchmark__header_description">
    We ran perf tests, results are in the awesome dashboard below
  </div>
  <div class="benchmark__header_description">
    Take them with a grain of salt, ofc
  </div>
</div>

<style>
  .benchmark__header {
    margin-top: 60px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .benchmark__header_title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 32px;
    font-weight: 600;
    white-space: pre-wrap;
  }

  .benchmark__header_description {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    max-width: 600px;
  }

  .del-word {
    position: relative;
    display: inline-block;
  }

  .cross-out {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2%;
    width: 90%;
    bottom: 0;
    stroke-width: 14;
    user-select: none;
    pointer-events: none;
  }

  .meaningful {
    position: absolute;
    left: calc(50%);
    width: 120px;
    bottom: 100%;
    stroke-width: 14;
    transform: rotateZ(-5deg) translateX(calc(-50%));
    user-select: none;
    pointer-events: none;
  }

  @media screen and (max-width: 599px) {
    .benchmark__header_title {
      font-size: 30px;
    }

    .benchmark__header_description {
      font-size: 16px;
    }
  }
</style>
