<div class="carbon-card-wrap">
  <script
    is:inline
    data-astro-rerun
    async
    type="text/javascript"
    src="//cdn.carbonads.com/carbon.js?serve=CWYDEKQM&placement=carbonadsnet"
    id="_carbonads_js"></script>
</div>
<style is:global>
  html.dark .carbon-card-wrap {
    background-color: #171717;
  }

  .carbon-card-wrap {
    min-height: 210px;
      width: 240px;
    background-color: #f6f6f7;
    border-radius: 4px;
    z-index: 10;
    position: absolute;
    bottom: 12px;
    left: 0px;
    right: 0px;
    transform-style: preserve-3d;
  }

  .carbon-card-wrap > div:not(:last-child) {
    display: none !important;
  }

  .carbon-card-wrap::before {
      content: '';
      display: block;
      background-color: white;
      position: absolute;
      left: 0;
      right: 0;
      top: -4px;
      bottom: -12px;
      transform: translateZ(-1px);
  }

  html.dark .carbon-card-wrap::before {
      background-color: #111111;
  }

  .carbon-card-wrap #carbonads {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 12px 12px;
    width: 100%;
    text-align: center;
    line-height: 18px;
    font-size: 12px;
    font-weight: 500;
  }

  .carbon-card-wrap img {
    margin: 0 auto;
    border-radius: 6px;
  }

  html[class~=dark] .carbon-card-wrap .carbon-text {
    color: rgba(255, 255, 245, .86);
  }

  .carbon-card-wrap .carbon-text {
    display: block;
    margin: 0 auto;
    padding-top: 12px;
    color: rgba(60, 60, 67);
    transition: color .25s;
  }

  html[class~=dark] .carbon-card-wrap .carbon-poweredby {
    color: rgba(235, 235, 245, .6);
  }

  .carbon-card-wrap .carbon-poweredby {
    display: block;
    padding-top: 6px;
    font-size: 11px;
    font-weight: 500;
    color: rgba(60, 60, 67, .78);
    text-transform: uppercase;
    transition: color .25s;
  }

  @media screen and (max-height: 930px) {
      .carbon-card-wrap {
          display: none;
      }
  }
</style>