---
import AsideArticle from "./AsidePosts.astro";
import AsideSponsors from "./AsideSponsors.astro";
import SmallProgressBar from "./SmallProgressBar.astro";
import progress from "../../data/progress";
import Toasts from "./Toasts.astro";
---

<div class="aside-right">
  <div class="aside-right__content">
    <div class="progress-wrap">
      <SmallProgressBar progress={progress} />
    </div>
    <AsideArticle />
    <AsideSponsors />
  </div>
  <Toasts />
</div>
<style>
  .aside-right {
    flex: 1;
    padding: 12px 0px;
    display: flex;
    width: 240px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    position: relative;
  }

  .mssql-wrap {
    overflow: hidden;
    aspect-ratio: 3.555;
    margin-bottom: 4px;
    border-radius: 4px;
  }

  .mssql-wrap img {
    transition:
      transform 0.3s ease,
      filter 0.3s ease;
    transform-origin: center center;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .mssql-wrap:hover img {
    filter: brightness(1.35);
    transform: scale(1.1);
  }

  html.dark .aside-right__content {
    background-color: #111;
  }

  .aside-right__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10000;
    background-color: #fff;
  }

  .progress-wrap {
    width: 100%;
    margin-bottom: 4px;
  }

  @media screen and (max-width: 1024px) {
    .aside-right {
      display: none;
    }
  }
</style>
