@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-block-inline-code {
    @apply inline-block select-all whitespace-nowrap bg-neutral-100 dark:bg-neutral-900 py-1 px-2 rounded-lg font-medium;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 10%;
    --muted: 0 0% 95%;
    --muted-foreground: 0 0% 45%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 10%;
    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 95%;
    --secondary-foreground: 0 0% 10%;
    --accent: 0 0% 95%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 0% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 0 0% 65%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 90%;
    --muted: 0 0% 5%;
    --muted-foreground: 0 0% 55%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 90%;
    --border: 0 0% 10%;
    --input: 0 0% 10%;
    --card: 0 0% 0%;
    --card-foreground: 0 0% 90%;
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 5%;
    --secondary-foreground: 0 0% 90%;
    --accent: 0 0% 5%;
    --accent-foreground: 0 0% 90%;
    --destructive: 0 0% 50%;
    --destructive-foreground: 0 0% 0%;
    --ring: 0 0% 35%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply antialiased bg-background text-foreground;
  }
}
