---
import Default from '@astrojs/starlight/components/PageFrame.astro';
import SiteFooter from './SiteFooter.astro';
---

<Default {...Astro.props}>
  <slot name="header" slot="header" />
  <slot name="sidebar" slot="sidebar" />
  <slot />
</Default>

<div class="print:hidden">
  <script is:inline>
    document.documentElement.classList.toggle(
      'dark',
      document.documentElement.dataset.theme === 'dark'
    );
  </script>
  <SiteFooter />
</div>
