---
import '../styles/home.css';
import Layout from '../homepage/Layout.astro';
import Header from '../homepage/Header.astro';
import Hero from '../homepage/Hero.astro';
import Sponsors from '../homepage/Sponsors.astro';
import Features from '../homepage/Features.astro';
import Changelog from '../homepage/Changelog.astro';
import Footer from '../homepage/Footer.astro';
---

<Layout title="JSX Email - Build beautiful emails with JSX">
  <Header />
  <main>
    <Hero />
    <Sponsors />
    <Features />
    <Changelog />
  </main>
  <Footer />
</Layout>
