[data-theme='dark'] .ikp-floating-button {
  background-color: #1c1c1c !important;
  color: #c4c5c6;
}

.ikp-floating-button {
  height: 33px;
  background-color: #F4F4F4;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  transition: none;
}

.ikp-floating-button:hover {
  transform: none;
}

#inkeep-widget-root > div {
  visibility: visible !important;
}

[data-theme='light'] .ikp-bot-avatar__box {
  filter: brightness(0.2);
}