---
import type { ICards } from '@/types';

import Card from './Card.astro';

interface Props {
  cards: ICards;
}

const { cards } = Astro.props;
const svgs = import.meta.glob<Record<string, any>>('/public/svg/*.svg', { query: '?raw', import: "default" });

---
<div class={"cards"}>
  {Object.keys(cards).map((name) => <Card card={cards[name]}  svgs={svgs}/>)}
</div>
<style>
  .cards {
    margin-top: 20px;
    gap: 16px;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(max(250px, calc((100% - 1rem * 2) / 2)), 1fr));
  }
</style>