---
interface Props {
  text: string;
  isSupported: boolean;
}

const { text, isSupported } = Astro.props;
---
<div class:list={["is-supported-chip", isSupported ? "is-supported-yes" : 'is-supported-no']}>
  {isSupported ? (
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check"><path d="M20 6 9 17l-5-5"/></svg>
    ) : (
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
  )}
  <div class="is-supported-text">{text}</div>
</div>
