---
import '../styles/home.css';
import Layout from '@/ui/layouts/Layout.astro';
import Header from '@components/Header.astro';
import Hero from '@components/Hero.astro';
import Sponsors from '@components/Sponsors.astro';
import Features from '@components/Features.astro';
import Changelog from '@components/Changelog.astro';
import Footer from '@components/Footer.astro';
---

<Layout title="JSX&thinsp;email - Build beautiful emails with JSX">
  <Header />
  <main>
    <Hero />
    <Sponsors />
    <Features />
    <Changelog />
  </main>
  <Footer />
</Layout>
