html[class~=dark] .wrap, html[class~=dark] .wrap-opened {
	background-color: #1a1a1a;
}

.wrap, .wrap-opened {
  position: relative;
	display: flex;
	grid-area: 1 / 1;
	width: 100%;
	height: auto;
	background-color: #fafafa;
  pointer-events: none;
	transition: opacity 0.1s ease-in-out;
  opacity: 0;
}

.wrap-opened {
	pointer-events: all;
	opacity: 1;
}

.tabs {
  display: flex;
	flex-direction: column;
	white-space: nowrap;
	gap: 4px;
}

html[class~=dark] .tab {
	background-color: #1a1a1a;
}

.tab, .active-tab {
	display: flex;
	width: 160px;
	font-size: 14px;
	align-items: center;
	gap: 8px;
	user-select: none;
	text-transform: capitalize;
	padding: 8px 16px;
	border-radius: 4px;
	background-color: #fafafa;
	cursor: pointer;
	border: none;
}

html[class~=dark] .active-tab {
	color: #f0f0f0;
	background-color: rgb(17, 17, 17);
	box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(255, 255, 255, 0.2) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 1px 2px 0px, rgba(0, 0, 0, 0.075) 0px 2px 4px 0px;
}

.active-tab {
  background-color: #ffffff;
  box-shadow:
    rgb(255, 255, 255) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.1) 0px 1px 2px 0px,
    rgba(0, 0, 0, 0.075) 0px 2px 4px 0px;
  color: #0b6ec5;
}

html[class~=dark] .options {
	background-color: rgb(17, 17, 17);
	box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(255, 255, 255, 0.2) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 1px 2px 0px, rgba(0, 0, 0, 0.075) 0px 2px 4px 0px;
}

.options {
  display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 47px;
	gap: 8px;
	text-align: start;
	margin-left: 16px;
	width: 100%;
	padding: 16px;
	border-radius: 8px;
	background-color: #ffffff;
	box-shadow:
		rgb(255, 255, 255) 0px 0px 0px 0px,
		rgba(0, 0, 0, 0.08) 0px 0px 0px 1px,
		rgba(0, 0, 0, 0.1) 0px 1px 2px 0px,
		rgba(0, 0, 0, 0.075) 0px 2px 4px 0px;
}

.text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-size: 12px;
	line-height: 12px;
}

html[class~=dark] .active-option {
	background-color: rgba(71, 183, 248, 0.1);
	border: 1px solid #47b7f8;
}

html[class~=dark] .option {
	background-color: #1a1a1a;
}

.option, .active-option {
  position: relative;
	display: flex;
	width: 100%;
	font-size: 12px;
	align-items: center;
	gap: 8px;
	user-select: none;
	padding: 8px 16px;
	border-radius: 4px;
  cursor: pointer;
  border: 1px solid #999;
  background-color: #fff;
}

.active-option {
  border: 1px solid #0b6ec5;
  background-color: #f1f8fe;
}

html[class~=dark] .option:disabled {
	border: 1px solid #414141;
	color: #6b6b6b;
}

.option:disabled {
  border: 1px solid #f0f0f0;
  color: #666;
}

.title {
  display: flex;
	font-size: 13px;
	line-height: 13px;
	font-weight: 600;
}

.disabled {
	font-size: 13px;
	line-height: 13px;
	white-space: pre;
	margin: 4px 0px 0px;
}

.description {
	font-size: 13px;
	line-height: 13px;
	font-weight: 400;
	margin-left: 4px;
}