name: Release Projects

on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags-ignore:
      - '*-v*'

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  release:
    if: |
      !startsWith(github.event.head_commit.message, 'chore(release):') &&
      !startsWith(github.event.head_commit.message, 'chore(repo):')

    runs-on: ubuntu-latest

    name: release

    steps:
      - name: Checkout Commit
        uses: actions/checkout@v4
        with:
          fetch-depth: 100
          fetch-tags: true
          ref: main
          token: ${{ secrets.GH_TOKEN }}

      - name: Fetch Tags
        run: git fetch --tags

      - name: Set Git Config
        run: |
          git config pull.rebase false
          git config --global user.email "release-workflow@jsx.email"
          git config --global user.name "Release Workflow"
          git remote set-url origin https://github.com/${{ github.repository }}

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Enable Corepack
        id: pnpm-setup
        run: |
          corepack enable
          corepack prepare pnpm@latest --activate
          pnpm config set script-shell "/usr/bin/bash"
          echo "::set-output name=pnpm_cache_dir::$(pnpm store path)"

      - name: pnpm Cache
        uses: actions/cache@v3
        with:
          path: ${{ steps.pnpm-setup.outputs.pnpm_cache_dir }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: ESLint Cache
        uses: actions/cache@v3
        with:
          path: ./.eslintcache
          key: ${{ runner.os }}-eslintcache-${{ hashFiles('./eslintcache') }}
          restore-keys: |
            ${{ runner.os }}-eslintcache-

      - name: Setup Moon
        uses: moonrepo/setup-toolchain@v0

      - name: Sanity Check
        run: |
          echo git `git version`;
          echo branch `git branch --show-current`;
          echo node `node -v`;
          echo pnpm `pnpm -v`
          echo `moon --version`

      - name: pnpm install
        run: pnpm install --frozen-lockfile

      - name: Build Projects
        run: |
          moon jsx-email:build
          moon create-jsx-email:build

      - name: Release
        run: moon run :release --affected --concurrency 1 --remote
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
