name: Smoke Test

on:
  workflow_dispatch:
  pull_request:
    types:
      - edited
      - opened
      - synchronize
  push:
    branches:
      - '*'
      - '!main'

jobs:
  validate:
    name: Smoke Test
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout Commit
        uses: actions/checkout@v4
        with:
          fetch-depth: 10

      - name: Checkout Main
        run: |
          git fetch origin
          git branch -f main origin/main

      - name: Setup
        uses: ./.github/actions/setup

      - name: Build Projects
        run: |
          moon jsx-email:build
          moon create-jsx-email:build
          moon run :build --query "project~plugin-*"

      - name: Smoke Test
        # Note: We're running `pnpm i` again so that pnpm places the `email` bin in root node_modules
        # We'll need that for the preview tests below
        run: |
          pnpm i
          moon test-smoke:run.ci
