---
import GlobalStyles from "@components/GlobalStyles.astro";
import { ViewTransitions } from "astro:transitions";
interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
const defaultDescription =
  "Drizzle ORM is a lightweight and performant TypeScript ORM with developer experience in mind.";
const isProd = import.meta.env.PROD_BUILD === "true" || process.env.PROD_BUILD === "true";
---

<head>
  <meta charset="UTF-8" />
  <meta name="robots" content={isProd ? "index,follow" : "noindex,nofollow"} />
  <link rel="sitemap" href="/sitemap-index.xml" />
  <ViewTransitions />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, viewport-fit=cover"
  />
  <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
  <link
    rel="preconnect"
    href="https://MXZNUT59HV-dsn.algolia.net"
    crossorigin
  />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <meta name="description" content={defaultDescription || description} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={defaultDescription || description} />
  <script is:inline>
    const transitionManager = () => {
      const style = document.createElement("style");
      const css = document.createTextNode(`* {
     -webkit-transition: none !important;
     -moz-transition: none !important;
     -o-transition: none !important;
     -ms-transition: none !important;
     transition: none !important;
  }`);
      style.appendChild(css);
      const enable = () => document.head.removeChild(style);
      const disable = () => document.head.appendChild(style);
      return { enable, disable, style };
    };

    const setPreference = (themeName) => {
      const transitions = transitionManager();
      transitions.disable();
      localStorage.setItem("theme", themeName);
      if (!document.firstElementChild) return;
      if (themeName === "system") {
        themeName = window.matchMedia("(prefers-color-scheme: dark)").matches
          ? "dark"
          : "light";
      }
      document.firstElementChild.classList.toggle("dark", themeName === "dark");
      document.firstElementChild.classList.toggle(
        "light",
        themeName !== "dark",
      );
      document.firstElementChild.setAttribute(
        "style",
        themeName === "dark" ? "color-scheme: dark" : "color-scheme: light",
      );

      window.getComputedStyle(transitions.style).opacity;
      transitions.enable();
    };

    const getColorPreference = () => {
      let preference = localStorage.getItem("theme");
      if (preference === "system") {
        return preference;
      }

      if (!preference) {
        preference = window.matchMedia("(prefers-color-scheme: dark)").matches
          ? "dark"
          : "light";
      }
      return preference;
    };
    let packageManager = localStorage.getItem("package-manager") || "npm";
    let expandedSections = localStorage.getItem("expandedSections")
      ? JSON.parse(localStorage.getItem("expandedSections"))
      : [];

    setPreference(getColorPreference());
    document.addEventListener("astro:page-load", () =>
      setPreference(getColorPreference()),
    );
    document.addEventListener("astro:after-swap", () =>
      setPreference(getColorPreference()),
    );

    const [navigationEntry] = performance.getEntriesByType("navigation");
    if (navigationEntry && navigationEntry.type !== "reload") {
      localStorage.removeItem("sidebar-scroll");
    }

    window.addEventListener("popstate", () => {
      localStorage.removeItem("sidebar-scroll");
    });

    document.addEventListener("click", function (event) {
      const target = event.target.closest("a");
      if (!target || !target.href) return;

      const isSideBarElement =
        target &&
        target.href &&
        (target.getAttribute("data-nav-index") ||
          target.getAttribute("data-slug"));

      if (!isSideBarElement && target.hostname === window.location.hostname) {
        localStorage.removeItem("sidebar-scroll");
      }
    });
  </script>
  <script
    is:inline
    type="module"
    src="https://unpkg.com/@inkeep/widgets-embed@0.2.237/dist/embed.js"
    defer></script>
  <script is:inline src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" />
  <link rel="stylesheet" href="/preferred.css" />
  <script
    is:inline
    defer
    data-site-id="orm.drizzle.team"
    src="https://assets.onedollarstats.com/tracker.js"></script>
  <script
    is:inline
    src="https://analytics.ahrefs.com/analytics.js"
    data-key="SKUeEfeeQbx1VaWCrIf53A"
    async></script>
  <GlobalStyles />
</head>
